---
title: "CSS Current Color"
date: 2019-11-06T12:33:49Z
draft: false
tags: ["css", "playground", video]
categories: ["css"]
summary: "A cool  video showing the use of current color."
---

<p><b>NB. This page is an HTML page</b></p>

<p>Plans to do something on this:</p>

{{< yt krbKkLPXwlQ >}}
