---
title: "Object Fit"
date: 2019-12-28T21:43:53Z
draft: false
tags: ["css", "playground"]
categories: ["css"]
summary: "A guide to the CSS object-fit"
---
<style>
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-gap: 25px;
        margin: 2.5em 0;
    }

    .box {
        width: 350px;
        height: calc(420px + 1rem);
        background-color: #555;
    }

    .box img {
        width: 300px;
        height: 300px;
        border: solid 1px fuchsia;
        margin: 0.5rem;
    }
    .standard {
    display: none;
}

    .contain img {
        object-fit: contain;
    }

    .cover img {
        object-fit: cover;
    }

    .fill img {
        object-fit: fill;
    }

    .none img {
        object-position: 50% 50%;
        object-fit: none;
    }

    .scale-down img {
        object-fit: scale-down;
    }

    h2 {
        margin: 0.5rem;
    }
</style>

The CSS property `object-fit` confused me at first. This was because I wrongly believed it had something to do with fitting an image inside it’s parent div.

THIS IS NOTHING TO DO WITH THE PARENT DIV.

The `object-fit` property sets how an image fits into it's alloted boundries.

One use for `object-fit` is for cropping the image (or video or some other object). This is best done in combination with the `object-position` property.

Another use would be if you have a gallery of different sized images but there’s a page of equal sized thumbnails. For those that don't fit perfectly `object-fit` allows you to specify how they fit. `object-fit` and `object-position`allows you to choose how to do that with the CSS.

First set the height and width of the image. Normally if these sizes are different from the original aspect ratio the image will distort as in the first example below and also the one set to “fill”.

BELOW: The `<img>` element has a pink border and given a height and width of 400px. The actual size of the image is 500 pixels wide by 386 pixels high.
<div class="wrapper">

    <div class="box standard">
        <h2>standard</h2><img src="../../img/graffiti-bigbird.jpg" alt="standard">
    </div>

    <div class="box contain">
        <h2>contain</h2><img src="../../img/graffiti-bigbird.jpg" alt="contain">
    </div>

    <div class="box cover">
        <h2>cover</h2><img src="../../img/graffiti-bigbird.jpg" alt="cover">
    </div>

    <div class="box fill">
        <h2>fill</h2><img src="../../img/graffiti-bigbird.jpg" alt="fill">
    </div>

    <div class="box none">
        <h2>none</h2><img src="../../img/graffiti-bigbird.jpg" alt="none">
    </div>

    <div class="box scale-down">
        <h2>scale-down</h2><img src="../../img/graffiti-bigbird.jpg" alt="scale-down">
    </div>
</div>

<h2>object-position</h2>

<p>Now looking at some of the above (cover & none) you can see that the image is positioned ideally. This is where <code>object-position</code> comes into play.</p>


<h2>Links</h2>
<ol>
    <li><a href="https://www.w3schools.com/csS/css3_object-fit.asp">W3 Schools</a> seems to have the best explanation.</li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit">MDN page on object-fit</a></li>
</ol>