---
title: "Subgrid"
date: 2019-12-29T08:28:44Z
draft: false
categories: ["css"]
tags: ["css", "playground"]
summary: "First play with subgrid which is now live in Firefox 71. Whooo!"
---

<style>
    .header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        background-color: #258;
        color: #eee;
        margin: 2rem 0;
        padding: 1rem;
    }

    h1 {
        grid-column: 1/4;
        margin: 0;
    }

    .header > ul {
        grid-column: -1 / -5;
        display: grid;
        grid-template-columns: subgrid;
        list-style-type: none;
        padding: 0;
    }

    pre {
        background-color: #eee;
    }
</style>

<div class="header">
    <h1>Subgrid</h1>
    <ul>
        <li><a href="#">menu item</a></li>
        <li><a href="#">menu item</a></li>
        <li><a href="#">menu item</a></li>
        <li><a href="#">menu item</a></li>
    </ul>
</div>

<h2>How it works:</h2>

<p>In the above there is a div (<code>.header</code>) containing an <code>h1</code> (says ‘Subgrid’) and a <code>ul</code> with <code>li</code>'s containing the links.</p>

<p>Like this:</p>

<pre><code>&lt;div class="header">
    &lt;h1>Subgrid&lt;/h1&gt;
    &lt;ul>
        &lt;li&gt;<a href="#">menu item</a>&lt;/li&gt;
        &lt;li&gt;<a href="#">menu item</a>&lt;/li&gt;
        &lt;li&gt;<a href="#">menu item</a>&lt;/li&gt;
        &lt;li&gt;<a href="#">menu item</a>&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>

<p>Normal <code>display: grid;</code> is applied to this .header div with 12 columns: <code>grid-template-columns: repeat(12, 1fr);</code></p>

<p>TO USE SUBGRID on the list of links you:</p>

<ol>
    <li>Apply grid to the unordered list: <code>display: grid;</code></li>
    <li><code>grid-template-columns: subgrid;</code></li>
</ol>

<pre><code>.header > ul {
    grid-column: -1 / -5;
    display: grid;
    grid-template-columns: subgrid;
    list-style-type: none;
    padding: 0;
}</code></pre>

<style>

    *, *::after, *::before {
        box-sizing: border-box;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(13, 80px);
        grid-template-rows: repeat(6, 80px);
        grid-gap: 8px;
        background: #bada55;
    }

    .g-item {
        /* min-width: 200px; */
        height: 40vh;
        background-color: #444;
        border: dotted 13px red;
        grid-column: span 6;
        grid-row: 1 / 5;
        display: grid;
        grid-template-columns: subgrid;
    }

    .sub {
        grid-column: span 2;
        grid-row: 1/5;
        display: grid;
        grid-template-columns: subgrid;
        background-color: rgb(33, 122, 240);
        border: solid 6px #222;
        color: #fff;
        font-size: .5em;
    }
    
    .sub>* {
        /* display: grid; */
        /* grid-template-columns: subgrid; */
        /* grid-column: span 2; */
    }
    
    .sub h3 {
        text-transform: uppercase;
        background-color: red;
        grid-row: 1 / 2;
        grid-column: span 2;
        margin: 0;
        padding: 0;
    }

    .sub p {
        font-style: italic;
        grid-row: 2 / 5;
        /* grid-column: span 1; */
    }

    /* .sub:nth-of-type(2) {
        grid-column: span 4;
        color: blue;
    }
    .sub:nth-of-type(3) {
        grid-column: span 3;
        color: pink;
    } */

</style>



## Sub-sub-grid?

<p>Grid container is green (set to display: grid)</p>

<p>Grid items of above (.g-item) have dotted borders (set to display: grid).</p>

<p>The children of .g-item are .sub and have a blue background (set to display: grid).</p>

<p>The children of .sub are the h3 and p elements which also behave as grid items, sub-sub grid items.</p>

<div class="grid">
    <div class="g-item">
        <div class="sub">
            <h3>subsub</h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="sub">
            <h3>subsub</h3>
            <p>Distinctio asperiores tempora corporis!</p>
        </div>
        <div class="sub">
            <h3>subsub</h3>
            <p>Impedit saepe eaque accusamus.</p>
        </div>
    </div>
    <div class="g-item">
        <div class="sub">
            <h3>subsub</h3>
            <p>Natus incidunt um officiis est?</p>
        </div>
        <div class="sub">
            <h3>subsub</h3>
            <p>Cumque fuga aliquam ac magnam exercitationem officiis odio dolore?</p>
        </div>
        <div class="sub">
            <h3>subsub</h3>
            <p>Incidunt veritatis dolore us iure, rerum odio.</p>
        </div>
    </div>
    
</div>
