:root {
    --background: #ecf1f1;
    --headFootBg: #f86814;
    --mainFontCol: #333;
    --linkCol: #1095d3;
    --codeCol: #1E90FF;
    --codeBg: #fffffe55;
    --border: #ccc7;
    --border: #4a525b;
    --leftPadding: 10vh;
    --menu-hover: #0b69fb;
    --box-bg: #b5bcbc;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --background: #393f3f; */
        --background: #2c343d;
        --headFootBg: #afb253;
        --headFootBg: #e4a40e;
        --mainFontCol: #dddada;
        --linkCol: #1095d3;
        --codeBg: #616149;
        --codeBg: #2224;
        --border: #9995;
        --border: #4a525b;
        --menu-hover: #da562d;
        --box-bg: #3f4b58;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    color: hsla(280, 50, 71, .6);
}

body {
    font-family: jost, 'segoe ui', sans-serif;
    font-size: 23px;
    font-size: clamp(0.9rem, 0.7286rem + 0.6857vw, 1.5rem);
    font-weight: 300;
    color: var(--mainFontCol);
    background-color: var(--background);
    background-image: repeating-radial-gradient(circle at right bottom, #1112 0 15%, transparent 15% 30%);
    background-attachment: fixed;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 100vh;
}

header {
	background-color: var(--headFootBg);
	height: auto;
	min-height: 150px;
	padding: 3em 1em 1em var(--leftPadding);
	grid-column: 1/3;
	display: flex;
	justify-content: space-between;
}

header nav ul {
    list-style: none;
    margin: 0 4em 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header li {
    /* padding-right: 1em; */
    line-height: 2.5;
}

header li>a {
    position: relative;
    display: block;
    padding: 0 1em;
    text-transform: uppercase;
    text-align: center;
    min-width: 150px;
    color: var(--background);
    border: solid 2px var(--background);
    margin-top: -1px;
    isolation: isolate;
    /* z-index: 4; */
    }

    header li + li a {
        border-left: none;
    }

    header li a::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: var(--menu-hover);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease-in-out;
    }
    header li a:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }

    /* --- For the site Title ---- */

header>a,
header>a:link,
header>a:visited {
    box-sizing: content-box;
    color: var(--background);
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    align-self: start;
    }

    header>a::before {
        content: '';
        position: absolute;
        top: 90%;
        width: 100%;
        height: 5px;
        background-color: var(--background);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .4s ease-in-out;
    }

    header>a:hover::before {
        transform: scaleX(.94);
        transform-origin: left;
}



main {
    margin: 1em 4em 4em var(--leftPadding);
    position: relative;
}

/* ---------- FOOTER ------ */

footer {
    background: var(--headFootBg);
    color: var(--background);
    font-weight: 400;
    grid-column: 1/3;
    margin-top: 3em;
    padding: 2em var(--leftPadding) 2em var(--leftPadding);
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 25px;
}
footer > * {
    align-items: flex-start; */
    line-height: 1;
}
:is(footer, header) svg[class*="icon"] {
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 0.25em;
}
footer nav ul {
    list-style-type: none;
    margin: 0;
    line-height: 1.2;
    padding: 0;
}
footer a {
    color: var(--background);
}
footer a:hover {
    color: #fff;
}
footer small {
    display: block;
    margin-top: 0.25em;
    text-align: center;
    font-size: 0.7em;
}

a {
    font-weight: 400;
    text-decoration: none;
    color: var(--linkCol);
    transition: all 0.4s;
}
a:hover {
    color: (var(--headFootBg))
}
.heading-link {
    font-size: 0.5em;
    color: #0004;
    transition: all 0.4s ease-out;
}
button {
    border: none;
    cursor: pointer;
}
strong,
b {
    font-weight: 600;
}

h1,
h2 {
    font-family: 'Oswald', georgia;
    font-weight: 500;
    letter-spacing: -0.01em;
}

h1 {
    font-size: 3.9em;
    line-height: 1;
    color: var(--headFootBg);
}

h1 {
    margin-bottom: 1rem;
}

h1 a {
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: .5;
    color: var(--headFootBg);
}


h2 {
    font-size: 2.4em;
    margin-bottom: 0;
    margin-top: 2em;
    color: var(--headFootBg);
}

h3 {
    font-size: 1.4em;
    margin-top: 2em;
    margin-bottom: 0.4em;
}

h2+p,
h2+h3,
h2+ul,
h2+ol,
h3+p,
h3+ol,
h3+ul {
    margin-top: 0;
}

h3+time {
    color: #888;
    font-size: .9rem;
}

h3+time~a {
    font-size: 0.9rem;
}

main article > div ul>li::marker {
    color: var(--headFootBg);
}
.time {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5em;
    margin-bottom: 4em;
	border-top: solid 1px currentColor;
	opacity: .5;
}

table {
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: #1113;
}
td,
th {
    padding: 0.5em;
}
td + td {
    border-left: solid 1px currentColor;
}
th {
    border-bottom: solid 1px currentColor;
}
figure {
    width: fit-content;
    margin: 2em 0;
}

figcaption h4 {
    margin-top: 0;
    font-weight: normal;
    font-style: italic;
    /* background-color: #bbb; */
}
img {
    max-width: 100%;
}


/* -------- FOOTNOTES -------- */

.footnotes {
    margin-top: 3em;
}
.footnotes::before {
    content: 'Footnotes';
    display: block;
    margin-top: 2em;
    font-family: oswald;
    font-size: 2.4em;
    color: var(--headFootBg);
}

.footnotes hr {
    display: none;
}
/* ------- TABLE OF CONTENTS ------- */


.toc {
    float: right;
    margin: 0 0 1em 1em;
    padding: 0.25em 1em;
    width: fit-content;
    border: solid 1px #1115;
    background-color: #1112;
    backdrop-filter: blur(10px);
}
.toc h2 {
    margin: 0;
}
.toc nav ul {
	list-style-type: none;
	padding: 0;
	columns: 2 170px;
}




.yt > * {
    border-radius: 20px;
}
.yt iframe {
    aspect-ratio: 16 / 9;
    width: min(620px, 100%);
}
.yt-image {
    display: grid;
    place-content: center;
    justify-content: left;
}
.yt-image > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.back-to-top-wrapper {
    position: absolute;
    top: 100vh;
    bottom: -5em;
    right: -80px;
    width: 3em;
    pointer-events: none;
    /* outline: solid 2px fuchsia; */
}
.yt-btn {
    display: grid;
    place-content: center;
}
.yt-btn button {
	padding: 0.4rem 1.4rem;
	border: none;
	border-radius: 20% / 20%;
	font-size: 1.2em;
	background-color: #a00;
	color: #fff;
	line-height: 1.36;
}

.back-to-top-wrapper a {
    position: fixed;
    position: sticky;
    top: calc(100vh - 5rem);
    pointer-events: all;
    display: inline-block;
    box-sizing: content-box;
    padding: 0.35em;
    width: 2em;
    aspect-ratio: 1 / 1;
    line-height: .25;
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 50%;
    color: var(--background);
    background-color: var(--headFootBg);
    color: var(--background);
    transition: 0.25s;
}

.back-to-top-wrapper a:hover {
    background-color: var(--linkCol);
}

/* -------- Styling for list pages --------- */

main.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 12px;
    align-content: start;
}

main.list>div:first-of-type {
    grid-column: 1 / -1;
}
.summary {
	outline: solid 1px var(--border);
	padding: 0.5em;
	background-color: var(--codeBg);
	/* backdrop-filter: blur(5px);  makes scrolling jerky */
	box-shadow: 3px 3px 4px #1114;
    transition: all 0.6s;
}

.summary h3 {
    margin: 0;
    font-size: 1.2em;
}

.summary div {
    font-size: 0.9em;
}

    body.posts .summary:hover,
    body.articles .summary:hover,
    body.tags .summary:hover,
    body.categories article:hover {
        outline-color: var(--linkCol);
        outline-offset: 4px;
    }


/* -------- POST PAGE SPECIFIC -------- */

body.posts>main,
body.articles>main,
body.playground>main,
body.term>main {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
/* ------ code ---------- */

pre {
    margin: 0;
    padding: .8em;
    background-color: var(--codeBg) !important;
    background-color: #2224 !important;
    color: #1E90FF;
    display: inline-block;
    backdrop-filter: blur(5px);
}

code {
    font-family: 'fira code', 'courier new', monospace;
    font-size: 0.85em;
    font-weight: 500;
    white-space: pre-wrap;
    color: var(--codeCol);
}

code strong,
code b {
    font-family: 'fira code', 'courier new', monospace;
    font-weight: 500;
}

p>code,
li>code {
    /* targets inline code which is missed by the Hugo syntax highlighting */
    color: var(--codeCol);
    background-color: var(--codeBg);
    display: inline-block;
    padding: 0px 3px;
}




/*  ---------- Styling for the aside (latest posts) element ----------  */

aside {
    margin-top: 3em;
}

aside h3 {
    color: var(--headFootBg);
    line-height: 1;
    margin-top: 2.7em;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
aside a {
    display: block;
    padding-left: 0.25em;
}
aside a:hover {
    background-color: #1113;
}
aside a[href="#"] {
    color: var(--headFootBg);
    cursor: default;
    background: none;
    text-decoration: underline 2px var(--mainFontCol);
}

#tags {
    margin-top: 3em;
    padding: .4em 0;
    list-style: none;
    border-top: solid 1px var(--border);
}

#tags a {
    color: var(--headFootBg);
}




/* ----- This is to target the TOC generated in Markdown ---- */

.time+div>ul:first-child {
    list-style-type: none;
    padding-left: 0;
    columns: 3 350px;
    column-gap: 3em;
    }

    .time+div>ul:first-child a {
        transition: 1s;
        isolation: isolate;
        position: relative;

    }

    .time+div>ul:first-child a:hover {
        /* color: red; */

}




/* ----- MEDIA QUERIES -------- */

@media (min-width: 1500px) {

    body.tags main,
    body.categories main {
        display: grid;
        grid-template-columns: repeat(5, minmax(150px, 1fr));
        grid-gap: 15px;
    }

    body.tags>main>div,
    body.categories>main>div {
        grid-column: 1 / 6;
    }

    body.tags article,
    body.categories article {
        /* border: solid 1px var(--border); */
        box-shadow: 3px 3px 5px #33333322;
        padding: .5rem;
        transition: .3s;
    }
}
@media (max-width: 1200px) {
    header nav ul {
        flex-direction: column;
        width: max-content;
    }
    header li+li a {
        border-left: solid 2px currentColor;
        border-top: none;
    }
}

@media (max-width: 950px) {
    :root {
        --leftPadding: 1em;
    }

    aside {
        display: none;
    }

    main {
        grid-column: 1 / 3;
    }

    .back-to-top-wrapper {
        right: -45px;
    }
    p.netlify-logo {
        display: none;
    }
}
@media (max-width: 550px) {
    p.hugo-link {
        display: none;
    }
}

