.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #258;
    color: #eee;
    margin: 2rem 0;
    padding: 1rem;
}

.header h1 {
    grid-column: 1/4;
    margin: 0;
    text-transform: uppercase;
    font-size: 2.6em;
}

.header > ul {
    grid-column: -1 / -5;
    display: grid;
    grid-template-columns: subgrid;
    list-style-type: none;
    padding: 0;
}

pre {
    background-color: #eee;
}

*, *::after, *::before {
    box-sizing: border-box;
}
.grid {
    display: grid;
    grid-template-columns: repeat(13, 80px);
    grid-template-rows: repeat(6, 80px);
    grid-gap: 8px;
    background: #bada55;
}

.g-item {
    /* min-width: 200px; */
    height: 40vh;
    background-color: #444;
    border: dotted 13px red;
    grid-column: span 6;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: subgrid;
}

.sub {
    grid-column: span 2;
    grid-row: 1/5;
    display: grid;
    grid-template-columns: subgrid;
    background-color: rgb(33, 122, 240);
    border: solid 6px #222;
    color: #fff;
    font-size: .5em;
}

.sub>* {
    /* display: grid; */
    /* grid-template-columns: subgrid; */
    /* grid-column: span 2; */
}

.sub h3 {
    text-transform: uppercase;
    background-color: red;
    grid-row: 1 / 2;
    grid-column: span 2;
    margin: 0;
    padding: 0;
}

.sub p {
    font-style: italic;
    grid-row: 2 / 5;
    /* grid-column: span 1; */
}

/* .sub:nth-of-type(2) {
    grid-column: span 4;
    color: blue;
}
.sub:nth-of-type(3) {
    grid-column: span 3;
    color: pink;
} */
