<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

	{{ partial "head" . }}

<body class="{{ replace .Name " " "-" | lower }} {{ .Kind }}">
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
