{{ define "main" }}
<main class="list">
	{{ if or .Title .Content }}
	<div>
		{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
		{{ with .Content }}<div class="content">{{ . }}</div>{{ end }}
	</div>
	{{ end }}

	{{ range .Pages.ByLinkTitle }}
	{{ .Render "summary" }}
	{{ end }}
	{{ partial "pagination.html" . }}
</main>
{{ partial "sidebar.html" . }}
{{ end }}
