{{ define "main" }}
<main class="single">
	<article>
		<h1>{{ .Title }}</h1>
		<div class="time">
			<time>{{ .Date.Format "02 January 2006" }}</time>
			{{ $dte := .Date.Format "02 January 2006" }}
			{{ $last := .Lastmod.Format "02 January 2006" }}
			{{ if ne $last $dte }}
			<time>Updated: <em>{{ .Lastmod.Format "02 January 2006" }}</em></time>
			{{ end }}
		</div>
		{{ if .Params.toc }}
		<div class="toc">
		<h2>Page Content</h2>
				{{ .TableOfContents }}
		</div>
		{{ end }}
		<div>
			{{ .Content }}
		</div>



		{{ with .Params.tags }}
		<div>
			<ul id="tags">
				{{ range . }}
				<li>More articles on: <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
				{{ end }}
			</ul>
		</div>
		{{ end }}
	</article>
	<div class="back-to-top-wrapper"><a href="#top">^<br>top</a></div>
</main>
{{ partial "sidebar.html" . }}
{{ end }}