<article class="summary">
	<h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
	<time>{{ .Date.Format "02 Jan 2006" }}</time>
	{{ range .Params.tags }}
	<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
	<div>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .RelPermalink }}">Read more...</a>
		{{ end }}
	</div>
</article>
