<footer>
    <div><a href="{{ .Site.BaseURL }}"><svg class="icon-home"><use xlink:href="#icon-home"></use></svg>{{ .Site.Title }}</a><small>&copy; {{ now.Year }}</small></div>

    <div class="no-of-pages">
        <svg class="icon icon-page-multiple"><use xlink:href="#icon-page-multiple"></use></svg>
        {{ len site.RegularPages }} pages
    </div>
    
    <nav>
        <ul>
            <li><a href="/about/">About</a></li>
            {{ range site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>
            {{ end }}
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>

    <div><a href="/index.xml"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>RSS</a></div>
    
    <div class="hugo-link">Built with <a href="https://www.gohugo.io/" title="the world's fastest static site generator">Hugo</a> <small>v.{{ hugo.Version }}</small></div>

    <div class="netlify-logo"><a href="https://www.netlify.com"> <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify" /> </a></div>
    
</footer>