
<head>
	{{ hugo.Generator }}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="color-scheme" content="dark light">
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%220%22 fill=%22%23253342%22></rect><path fill=%22%23fbb30d%22 d=%22M13.91 86.45L2.30 86.45L3.56 13.55L20.84 13.55L28.85 55.94L37.49 13.55L54.14 13.55L55.40 86.45L43.97 86.45L42.62 37.94L34.16 86.45L23.99 86.45L14.99 37.58L13.91 86.45ZM97.70 86.45L64.85 86.45L64.85 13.55L80.96 13.55L80.96 75.56L97.70 75.56L97.70 86.45Z%22></path></svg>" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Jost:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Oswald:wght@500&display=swap" rel="stylesheet">
    
    <script src="https://file.myfontastic.com/dtAxtQpBmRgHDcNqXAT4Fc/icons.js"></script>
    <title>
        {{- if not .IsHome -}}
            {{- .Title }} | 
        {{ end -}}
        {{- site.Title -}}
    </title>
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    {{ with .Params.cssfile }}
	<link rel="stylesheet" href="/css/{{ . }}.css">
    {{ end }}
    
    {{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

    {{ with .Params.css }}
    <style>
    {{ range . }}
      {{- . | safeCSS }}
    {{ end }}
    </style>
    {{ end }}
</head>
