<header id="top">
    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    {{ with .Site.Menus.main }}
    <nav>
        <ul>
            {{ range . }}
            <li><a href="{{ .URL | relURL }}">{{ .Pre }}{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </nav>
    {{ end }}
</header>