
<aside>
        <div>
            <h3>LATEST POSTS</h3>
        </div>
        <div>
            <ul>
                {{ $currentPage := . }}
                {{ range first 20 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

                    {{ if eq $currentPage .}}
                    <li><a href="#">{{ .LinkTitle }}</a></li>
                    {{ else }}
                    <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
</aside>