{{ define "main" }}
    <main>
        <h1>{{ .Title }}</h1>
        <div class="time">
            <time>Latest site updates on: {{ .Site.LastChange.Format "02 Jan 2006" }}</time>
        </div>

        {{ .Content }}

    </main>
    {{ partial "sidebar.html" . }}
{{ end }}
