
{{ range $key, $el := site.Data.links }}
<h2 id="{{ $key }}">{{ replace $key "-" " " | title }}</h2>
<ol>
  {{ range . }}
  <li><a href="{{ .link }}">{{ .name }}</a> - {{ .about }}</li>
  {{ end }}
</ol>
{{ end }}








