{{/*  See: https://birdsong.dev/blog/ways-to-embed-youtube-videos/  */}}

{{ $vid_no := .Get 0 }}

{{ $image := printf "http://img.youtube.com/vi/%s/maxresdefault.jpg" $vid_no }}

{{ with resources.GetRemote $image }}

    {{ with .Err }}

    {{ warnf "Youtube video not found %s" . }}
    {{ else }}
    {{ $small_image := .Resize "620x webp q45" }}
    
    <div class="yt yt-image" onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
        <img src="{{ $small_image.RelPermalink }}" alt="Youtube image">
        <div class="yt-btn"><button title="Click twice">&#9654;</button></div>
    </div>
    
    <div class="yt yt-video" style="display: none;">
        <iframe  src="https://www.youtube-nocookie.com/embed/{{ $vid_no }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {{ end }}
{{ end }}